""""""""""""""""""
" GENERAL SETTINGS 
""""""""""""""""""
" Set line number for current line
set number

" Set relative line numbers for all other lines
set relativenumber

" Be iMproved set nocompatible

" Syntax checking etc
syntax on

" Map w!! to force save (i.e. opened without sudo)
cmap w!! w !sudo tee > /dev/null %

" Remove highlighting with enter
nnoremap <CR> :noh<CR><CR>:<BACKSPACE>

" Allow incremental, highlighted search
set incsearch
set hlsearch

""""""""""""""""""
" SPLITS SETTINGS
""""""""""""""""""

" Allow using ctrl-[hjkl] to travel between splits
nnoremap <C-J> <C-W><C-J>
nnoremap <C-K> <C-W><C-K>
nnoremap <C-L> <C-W><C-L>
nnoremap <C-H> <C-W><C-H>

" Open new splits below/to the right of current pane
set splitbelow
set splitright

""""""""""""""""""
" TAB SETTINGS
""""""""""""""""""

set expandtab
set shiftwidth=4
set tabstop=4

""""""""""""""""""
" PLUGIN SETTINGS
""""""""""""""""""

filetype off
set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()

Plugin 'VundleVim/Vundle.vim'
Plugin 'tpope/vim-fugitive'
Plugin 'scrooloose/nerdtree'
Plugin 'ctrlpvim/ctrlp.vim'

call vundle#end()
filetype plugin indent on

""""""""""""""""""
" NERDTREE SETTINGS
""""""""""""""""""

" Open NERDTree when starting vim
autocmd vimenter * NERDTree

" Show hidden files by default
let NERDTreeShowHidden=1

" Map Ctrl+n to open NERDTree window
map <C-n> :NERDTreeToggle<CR>

" Automatically close NERDTree if we have closed all other windows
autocmd bufenter * if (winnr("$") == 1 && exists("b:NERDTree") && b:NERDTree.isTabTree()) | q | endif
